
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-image: url('/static/imagens/matrix3.jpg');
    background-size: 100%; /* Ajuste o tamanho da imagem de fundo */
    background-position: center; /* Centralize a imagem */
    background-repeat: no-repeat;
}

p {
    color: #555;
    font-style: italic;
    font-weight: 900;
    font-family: sans-serif;

}

h1 {
    color: #333;
    
}

.container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.logo {
    margin-top: 20px;
    width: 80%;
    max-width: 400px; /* Ajuste a largura máxima conforme necessário */
}

/* form {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    height: 250px;
} */

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-style: italic;
    font-weight: 900;
    font-family: sans-serif;
    line-height: 10px;
}
a {
    position: fixed;
    top: 10px;
    right: 10px;
    background:radial-gradient(ellipse at center, #adbf41 20%, #328a26 80%);
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none; 
}

.tooltip {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    display: none; /* Esconde o tooltip inicialmente */
}

/* Estilos para as opções no tooltip */
.tooltip a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: antiquewhite;
}

input[type="submit"] {
    background-image: url("imagens/pexels-marina-leonova-7634150.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    font-weight: 900;
    font-size: large;
    color: #333;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f1f5f1;
}

