<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="login-container">
        <h2>Preencha seus dados</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <input type="text" name="username" placeholder="Usuário" required>
                <i class="fa fa-user"></i> <!-- Ícone de usuário -->
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Senha" required>
                <i class="fa fa-lock"></i> <!-- Ícone de cadeado -->
            </div>
            <button type="submit">Entrar</button>
        </form>
        <a href="#">Esqueceu a senha?</a>
    </div>
</body>
</html>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if mensagem_erro %}
        <p style="color: red;">{{ mensagem_erro }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html> -->
